{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <h1>Artwork</h1>
<img class="minty" 
src="{% static 'imgs/1.jpg'%}">
<img class="minty" 
src="{% static 'imgs/2.jpg'%}">
<img class="minty" 
src="{% static 'imgs/3.jpg'%}">
<img class="minty" 
src="{% static 'imgs/4.jpg'%}">
<img class="minty" 
src="{% static 'imgs/5.jpg'%}">
<img class="minty" 
src="{% static 'imgs/6.jpg'%}">
<img class="minty" 
src="{% static 'imgs/7.jpg'%}">
<img class="minty" 
src="{% static 'imgs/8.jpg'%}">
<img class="minty" 
src="{% static 'imgs/9.jpg'%}">
<img class="minty" 
src="{% static 'imgs/10.jpg'%}">
<img class="minty" 
src="{% static 'imgs/11.jpg'%}">
<img class="minty" 
src="{% static 'imgs/12.jpg'%}">
<img class="minty" 
src="{% static 'imgs/13.jpg'%}">
<img class="minty" 
src="{% static 'imgs/14.jpg'%}">
<img class="minty" 
src="{% static 'imgs/15.jpg'%}">
<img class="minty" 
src="{% static 'imgs/14.jpg'%}">
<img class="minty" 
src="{% static 'imgs/15.jpg'%}">
<img class="minty" 
src="{% static 'imgs/16.jpg'%}">
<img class="minty" 
src="{% static 'imgs/17.jpg'%}">
<img class="minty" 
src="{% static 'imgs/18.jpg'%}">
<img class="minty" 
src="{% static 'imgs/19.jpg'%}">
<img class="minty" 
src="{% static 'imgs/20.jpg'%}">
<img class="minty" 
src="{% static 'imgs/21.jpg'%}">
<img class="minty" 
src="{% static 'imgs/22.jpg'%}">
<img class="minty" 
src="{% static 'imgs/23.jpg'%}">
<img class="minty" 
src="{% static 'imgs/24.jpg'%}">
<img class="minty" 
src="{% static 'imgs/25.jpg'%}">
<img class="minty" 
src="{% static 'imgs/26.jpg'%}">
<img class="minty" 
src="{% static 'imgs/27.jpg'%}">
<img class="minty" 
src="{% static 'imgs/28.jpg'%}">
<img class="minty" 
src="{% static 'imgs/29.jpg'%}">
<img class="minty"  
src="{% static 'imgs/30.jpg'%}">
<img class="minty" 
src="{% static 'imgs/31.jpg'%}">
<img class="minty" 
src="{% static 'imgs/32.jpg'%}">
<img class="minty" 
src="{% static 'imgs/34.jpg'%}">
<img class="minty" 
src="{% static 'imgs/35.jpg'%}">
<img class="minty" 
src="{% static 'imgs/36.jpg'%}">
<img class="minty" 


{% endblock content %}
